#myBtn {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    padding: 0px 5px;
  }
