.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    display: flex;
    margin-top: 30px;
    width: 500px;
}
.card img{
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (max-width:520px) {
    .card{
        width: 90%;
    }
}