.logo{
    width:200px;
    margin: 0px 20px;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
.nav-link:hover, .dropdown-item:hover, .active{
  background-color:#316DC3 !important;
  color: #fff !important;
}
.NavHeader{
    position:sticky;
    top:0;
    z-index:100; 
}
.nav-link:hover, .active{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.dropdown-menu{
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (max-width:991px) {
  .nav-link:hover, .active{
  border-radius: 0;
  } 
  .nav-link{
    margin-left: 20px;
  }
  .nav-link:hover, .dropdown-item:hover, .active{
    color: #316DC3 !important;
    background-color: #fff !important;
  }
}
